<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <ul>
      <li><%= link_to "Home", @user(current_user.id) %></li>
      <li><%= link_to "About", home_about_path %></li>
      <li><%= link_to "sign up", new_user_registration_path %></li>
      <li><%= link_to "login", new_user_session_path %></li>
    </ul>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
